# Auto detect text files and perform LF normalization
* text=auto

# Exclude Examples folder from git archive (zips)
Examples/ export-ignore
ThirdParty/EOS/ export-ignore
website_devlog.md export-ignore
RedactedcraftCsharp.zip export-ignore
RedactedCraft.exe export-ignore

# Git LFS
*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
